.sticky{
  top: 0;
  position: fixed;
  z-index: 2;
  max-width: 10%;
  max-height: 10%;
}

.sidenav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: white;
 overflow-x: hidden;
 padding-top: 60px;
 transition: 0.5s;
}


.sidenav a {
 padding: 15px 8px 15px 8px;
 text-decoration: none;
 font-size: 25px;
 color: black;
 display: block;
 font-family: GT Walsheim,Helvetica,sans-serif;
 transition: 0.3s;
}


.sidenav a:hover {
 color: white;
}


.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
 padding-bottom: 2px;
}





.stickyhandle{
  top: 0;
  position: fixed;
  z-index: 2;
  max-width: 7.5%;
  max-height: 10%;
  left: 80%;
}

.sidehandle {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 right: 0;
 background-color: white;
 overflow-x: hidden;
 padding-top: 60px;
 transition: 0.5s;
}


.sidehandle  {
 padding: 15px 8px 15px 8px;
 text-decoration: none;
 font-size: 25px;
 color: black;
 display: block;
 font-family: GT Walsheim,Helvetica,sans-serif;
 transition: 0.3s;
}


.sidehandle  {
 color: white;
}


.sidehandle .closebtnhandle {
 position: absolute;
 top: 0;
 left: 25px;
 font-size: 36px;
 margin-right: 50px;
 padding-bottom: 2px;
 z-index: 3;
}




#main {
 transition: margin-left .5s;
 padding: 20px;
}


@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
.button{
  background-color: transparent;
  font-family: GT Walsheim,Helvetica,sans-serif;
  color: white;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 0px;
  border: 2px solid white;
  transition: 0.1s;

}
.button:hover{
  color: white;
  background-color: #e52437;
  border: 2px solid #e52437;
  transition: 0.1s;
  font-family: GT Walsheim,Helvetica,sans-serif;
}
.button.active{
  background-color: #e52437;
  color: white;
  border: 2px solid #e52437;
  font-family: GT Walsheim,Helvetica,sans-serif;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: auto;
  min-height: 1fr;
  max-height: 1fr;
  font-family: GT Walsheim,Helvetica,sans-serif;
}

@media (min-width:2000px) {
  main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

@media (max-width:700px) {
  main{
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width:600px) {
  main{
    grid-template-columns: 1fr;
  }

}

.border {
  background-color: white;
  border: 2px solid lightgrey;
  font-size: 30px;
  text-align: center;
  border-radius: 0px;
  transition: 0.5s;
  position: relative;
}
img{
  max-width: 300px;
}
.border:hover {
  background-color: white;
  transition: 0.5s;
  border: 2px solid #e52437;
  font-size: 30px;
  text-align: center;
  border-radius: 0px;
}
a{
  text-decoration: none;
  color: black;
}
.banner{
  margin-top: 100px;
  width: 100%;
  text-align: center;
  height: 200%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.sorterbutton{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.sorterbuttonwide{
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.buttontekst{
  font-size: 20px;
  color:black;
  font-family: sans-serif;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  border: 2px solid #e52437;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #e52437;
  color: white;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  justify-content: center;
  display: inline;
  min-width: 94%;
  text-align: center;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.gridsøk{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.gridsøkwide{
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.dropdowndiv{
  margin-top: 100px;
}
.bannerdatadel{
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
h1{
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px;
}
.border>p{
  font-size: 12px;
  margin: 0 0 5px;
}
.pris{
  font-size: 20px;
  font-weight: 700;
  margin-right: 300px;
}
.kjopna{
  margin-left: 300px;
}
.kjopbutton{
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  line-height: normal;
}
.valgtMain{
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  width: 100%;
  display: grid;
  font-family: GT Walsheim,Helvetica,sans-serif;
  height: 100%;
}
.gridperma{
  grid-column: span 1;
  grid-row: span 7;
  font-size: 40px;
  font-weight: 10;
  margin-right: 300px;
  font-family: GT Walsheim,Helvetica,sans-serif;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid lightgrey;
}

.gridperma:hover{
  grid-column: span 1.5;
  grid-row: span 7;
  transition: 0.5s;
  border: 2px solid #e52437;
}
.gridmidler{
  height: 100%;
  grid-column: span 1;
  grid-row: span 1;
  margin-top: 150px;
  margin-bottom: -125px;
  font-weight: 70;
  margin-right: 300px;
  font-family: GT Walsheim,Helvetica,sans-serif;
  background-color: white;
  border: 2px solid lightgrey;
  font-size: 14px;
  text-align: center;
  border-radius: 0px;
  transition: 0.5s;
  margin: 0.5px;
}
.gridmidlerbottom{
  height: 100%;
  grid-column: span 1;
  grid-row: span 1;
  margin-top: 150px;
  margin-bottom: -125px;
  font-weight: 70;
  margin-right: 300px;
  font-family: GT Walsheim,Helvetica,sans-serif;
  background-color: white;
  border: 2px solid lightgrey;
  font-size: 14px;
  text-align: center;
  border-radius: 0px;
  transition: 0.5s;
  margin: 0.5px;
  bottom: 1;
  position: relative;
}
.gridmidlerbottom:hover{
  background-color: white;
  transition: 0.5s;
  border: 2px solid #e52437;
  font-size: 20px;
  text-align: center;
  border-radius: 0px;
}
.gridmidler:hover{
  background-color: white;
  transition: 0.5s;
  border: 2px solid #e52437;
  font-size: 20px;
  text-align: center;
  border-radius: 0px;
}
.gridperma>img{
  width: 100%;
  image-rendering: crisp-edges;
}
.gridperma>h1{
  font-size: 20px;
}
.gridperma>h3{
  font-size: 30px;
  font-weight: 70;
}
main>.hjemside{
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
#hamburger{
  width: 100%;
  height: 100%;
}
#Handlekurv{
  width: 100%;
  height: 100%;
}
.buttonimg{
  width: 35%
}
.vareimg{
  width: 100%;
}
.footer{

}
footer{
  margin-top: 200px;
  font-family: GT Walsheim,Helvetica,sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e52437;
  color: white;
  text-align: center;
}
.footertekst{
  padding-top: 15px;
  margin-left: 200px;
  margin-right: 20px;
  color: white;
  font-size: 14px;
}
.Kontakt{
  margin-left: 200px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.bilde{
z-index: 3;
min-width: 100%;
}
.salgboble{
z-index: 3;
position: absolute;
top: 0;
right: 0;
}
.salgtekst{
z-index: 4;
position: absolute;
justify-content: center;
text-align: center;
top: 10%;
right: 7.5%;
}
.forpris{
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 300;
  margin-right: 300px;
}
.sosial{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  justify-content: center;
  text-align: center;
  bottom: 0;
}
.ikon>a>img{
  border-radius: 50px;
  max-width: 50px;

}
.omoss{
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
}
.omoss>b{
  font-size: 48px;
}
.omoss>p{
  font-size: 20px;
}
.omoss>img{
  max-width: 100%;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
